@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
* ::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}

.background-1 {
  background-image: url("/bg-1.png");
  background-size: cover;
  background-position: center;
  width: 100%; /* sesuai dengan lebar gambar */
}

.background-2 {
  background-image: url("/bgbirusatu.png");
  background-size: cover;
  background-position: center;

  width: 100%; /* sesuai dengan lebar gambar */
}

.background-3 {
  background-image: url("/bgbirudua.png");
  background-size: cover;
  background-position: center;
  width: 100%; /* sesuai dengan lebar gambar */
}

.background-4 {
  background-image: url("/bgbirusatu.png");
  background-size: cover;
  background-position: center;

  width: 100%; /* sesuai dengan lebar gambar */
}

.background-5 {
  background-image: url("/bgbirusatu.png");
  background-size: cover;
  background-position: center;

  width: 100%; /* sesuai dengan lebar gambar */
}
