@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
* ::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}

.slick-dots li button:before {
  margin-top: 20px;
  font-size: 12px; /* Adjust the size of the dots */
  color: #575757; /* Change the color of the dots */
}

/* Active dot styles */
.slick-dots li.slick-active button:before {
  color: #88C5FF; /* Change the color of the active dot */
}

.background-1 {
  background-image: url("/bg-1.png");
  background-size: cover;
  background-position: center;
  width: 100%; /* sesuai dengan lebar gambar */
}

.background-2 {
  background-image: url("/bgbirusatu.png");
  background-size: cover;
  background-position: center;

  width: 100%; /* sesuai dengan lebar gambar */
}

.background-3 {
  background-image: url("/bgbirudua.png");
  background-size: cover;
  background-position: center;
  width: 100%; /* sesuai dengan lebar gambar */
}

.background-4 {
  background-image: url("/bgbirusatu.png");
  background-size: cover;
  background-position: center;

  width: 100%; /* sesuai dengan lebar gambar */
}

.background-5 {
  background-image: url("/bgbirusatu.png");
  background-size: cover;
  background-position: center;

  width: 100%; /* sesuai dengan lebar gambar */
}
